.reviewitem {
    background-color:purple;

    &__date {

    }

    &__p {
        background-color: red;
    }

    &__title {
        color:#fff;
    }

    &__contentwrap {

    }

    &__content {

    }

    &__rating {
        
    } 

}