.nav {
    --MainNavigationBorderColor:var(--col-gray-alpha);
    --offset:10px;
    $self:&;
    width:calc(100% - var(--offset) * 2);
    border-radius: 4px;
    position:fixed;
    left:var(--offset);
    right:var(--offset);
    top:var(--offset);
    height:var(--MainNavigationHeight);
    background-color:#0A0A0AF5;
    align-items: center;
    display: flex;
    border:1px solid var(--MainNavigationBorderColor);
    z-index: 100;


    &__logowrapper {
        padding-left:20px;
        display: flex;
        align-items: end;
        gap:8px;
        text-decoration: none;
    }

    &__logo {
        width:105px;
    }

    &__logotxt {
        font-size:0.7rem;
        color:#fff;
        font-weight: 400;
        font-style: italic;
        line-height: 0.7rem;
        
    }

    &__navitemwrap {
        display: flex;
        height:100%;
        margin-left:auto;
    }

    &__navitem {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        padding:0px 24px;
        height:100%;
        border-left:1px solid var(--MainNavigationBorderColor);
        color:var(--MainNagivationTextColor);
        text-decoration: none;
        font-size:0.875rem;

        &:hover {
            color:#fff;
            cursor: pointer;
        }

    }

}
 
