.nav {
    --MainNavigationBorderColor:var(--col-gray-alpha);
    --offset:20px;
    $self:&;
    height:var(--MainNavigationHeight);
    background-color:#0A0A0AF5;
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 100;

    &__logowrapper {

        display: flex;
        align-self: flex-end;
        height:45px;
    }

    &__logo {
        height:100%;
        fill:#fff;
    }

    &__navitemwrap {
        display: flex;
        align-items: flex-end;
        gap:16px;
        height:100%;
        margin-left:auto;
    }

    &__navitem {
        text-transform: uppercase;
        color:var(--MainNagivationTextColor);
        text-decoration: none;
        font-size:0.875rem;
        font-family: var(--appFontWide);
        font-weight: var(--appFontWide--medium);
        display: flex;
        align-items: center;


        &:hover {
            text-decoration: underline;
            text-underline-offset: 5px;
            text-decoration-thickness: 2px;
            text-decoration-color: var(--colBrandRed);
            cursor: pointer;
            
        }

    }

    &--scrolling {
        position: fixed;
        width:calc(100% - var(--offset) * 2);
        border-radius: 4px;
        left:var(--offset);
        right:var(--offset);
        top:var(--offset);
        height:var(--MainNavigationHeight--Scrolled);
    }

}
 
