.button {
    background-color: var(--colBrandRed);
    color:white;
    text-transform: uppercase; 
    border:none;
    height:42px;
    padding:0px 16px;
    font-size:0.875rem;
    letter-spacing: 0.04rem;
    border-radius: 2px;
    font-weight: var(--appFontWide--medium);
    font-family: var(--appFontWide);


    &:hover {
        cursor: pointer;
        background-color: var(--colBrandRedDark);
    }

}
 
