@import url("https://p.typekit.net/p.css?s=1&k=grz5seu&ht=tk&f=51571&a=314682734&app=typekit&e=css");

@font-face {
font-family:"roc-grotesk-variable";
src:url("https://use.typekit.net/af/561615/0000000000000000774b970f/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/561615/0000000000000000774b970f/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/561615/0000000000000000774b970f/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100 900;font-stretch:normal;
}



@import "tailwindcss";

@theme {
      --color-brand:#AE1D1D;

    --appFont:"roc-grotesk-variable",sans-serif; 

    --spacing-nav-height: 62px; /* h-nav-height*/
    --spacing-hero-height:640px;

    --site-container-max-width:1800px;

    --MainNavigationHeight:var(--MainNavigationLogoHeight);
    --MainNavigationHeight--Scrolled:64px;
    --MainNavigationBorderColor:#B3B3B3;
    --MainNagivationTextColor:#fff;

    --fontweight--light:300;
    --fontweight--regular:400;
    --fontweight--medium:500;
    --fontweight--bold:700;

    --colBrandRed:#AE1D1D;

    --col-pageBackground:#000000;
    --col-NavBackground:#0A0A0A;

    --col-gray-alpha:rgba(255 255 255 / 14%);

    --pageSidePadding:32px;

}

body {
      background-color: var(--col-pageBackground);
      font-family: var(--appFont);
}

.font-empire-logo {
  font-variation-settings: 'wdth' 150, 'wght' 498;
}

.font-headings {
  font-variation-settings: 'wdth' 100, 'wght' 700;
}

.font-heroheader {
    font-variation-settings: 'wdth' 125, 'wght' 600;
}

.font-body {
  font-variation-settings: 'wdth' 100, 'wght' 500;
}

.heroimage-mask {        
      -webkit-mask-image: 
        linear-gradient(to left, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%), 
        linear-gradient(to top, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
        mask-image: 
        linear-gradient(to left, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%), 
        linear-gradient(to top, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
        mask-composite: intersect;
}

.review-drop-shadow {
  box-shadow:-14px 14px 0px #ae1d1d63;
}

.heroimage-radialmask {
    -webkit-mask-image: radial-gradient(circle, 
  rgb(0, 0, 0) 40%, 
  rgba(0, 0, 0, 0.85) 55%, 
  rgba(0, 0, 0, 0.5) 70%, 
  rgba(0, 0, 0, 0.15) 85%, 
  rgba(0, 0, 0, 0) 100%),
radial-gradient(circle, 
  rgb(0, 0, 0) 30%, 
  rgba(0, 0, 0, 0.7) 50%, 
  rgba(0, 0, 0, 0.3) 70%, 
  rgba(0, 0, 0, 0) 90%);
    mask-image: radial-gradient(circle, 
  rgb(0, 0, 0) 40%, 
  rgba(0, 0, 0, 0.85) 55%, 
  rgba(0, 0, 0, 0.5) 70%, 
  rgba(0, 0, 0, 0.15) 85%, 
  rgba(0, 0, 0, 0) 100%),
radial-gradient(circle, 
  rgb(0, 0, 0) 30%, 
  rgba(0, 0, 0, 0.7) 50%, 
  rgba(0, 0, 0, 0.3) 70%, 
  rgba(0, 0, 0, 0) 90%);
    mask-composite: intersect;
}

