@import url("https://p.typekit.net/p.css?s=1&k=grz5seu&ht=tk&f=51571&a=314682734&app=typekit&e=css");

@font-face {
font-family:"roc-grotesk-variable";
src:url("https://use.typekit.net/af/561615/0000000000000000774b970f/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/561615/0000000000000000774b970f/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/561615/0000000000000000774b970f/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:100 900;font-stretch:normal;
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
      --color-brand:#AE1D1D;
      --color-brand-50:#ae1d1d5e;

    --appFont:"roc-grotesk-variable",sans-serif; 

    --spacing-nav-height: 62px; /* h-nav-height*/
    --spacing-hero-height:720px;

    --site-container-max-width:1800px;

    --MainNavigationHeight:var(--MainNavigationLogoHeight);
    --MainNavigationHeight--Scrolled:64px;
    --MainNavigationBorderColor:#B3B3B3;
    --MainNagivationTextColor:#fff;

    --fontweight--light:300;
    --fontweight--regular:400;
    --fontweight--medium:500;
    --fontweight--bold:700;

    --colBrandRed:#AE1D1D;

    --col-pageBackground:#000000;
    --col-NavBackground:#0A0A0A;

    --col-gray-alpha:rgba(255 255 255 / 14%);

    --pageSidePadding:32px;

    --shadow-reviewsidebar:-14px 14px 0px #ae1d1d63;

}

@layer components {

  .body-padding {
    @apply px-4 md:px-10 lg:px-16;
  }

  .heading-primary {
      @apply text-white text-xl lg:text-2xl;
      font-variation-settings: 'wdth' 100, 'wght' 700;
  }

  .empire-logo {
    @apply text-2xl lg:text-4xl tracking-tighter text-gray-950 dark:text-white uppercase;
    font-variation-settings: 'wdth' 150, 'wght' 500;
  }

  .empire-logo-dark {
    @apply text-white;
  }

  .font-body {
    @apply text-gray-200 text-base xl:text-lg ;
    font-variation-settings: 'wdth' 100, 'wght' 500;
  }

}

  .heroimage-radialmask {
    -webkit-mask-image: radial-gradient(circle, 
      rgb(0, 0, 0) 40%, 
      rgba(0, 0, 0, 0.85) 55%, 
      rgba(0, 0, 0, 0.5) 70%, 
      rgba(0, 0, 0, 0.15) 85%, 
      rgba(0, 0, 0, 0) 100%),
    radial-gradient(circle, 
      rgb(0, 0, 0) 30%, 
      rgba(0, 0, 0, 0.7) 50%, 
      rgba(0, 0, 0, 0.3) 70%, 
      rgba(0, 0, 0, 0) 90%);
    mask-image: radial-gradient(circle at 50% 140%, 
      rgb(0, 0, 0) 40%, 
      rgba(0, 0, 0, 0.85) 55%, 
      rgba(0, 0, 0, 0.5) 70%, 
      rgba(0, 0, 0, 0.15) 85%, 
      rgba(0, 0, 0, 0) 100%),
    radial-gradient(circle, 
      rgb(0, 0, 0) 30%, 
      rgba(0, 0, 0, 0.7) 50%, 
      rgba(0, 0, 0, 0.3) 70%, 
      rgba(0, 0, 0, 0) 90%);
    mask-composite: intersect;
  }

body {
      @apply bg-gray-100 dark:bg-gray-950;
      font-family: var(--appFont);
}

.font-headings {
  font-variation-settings: 'wdth' 100, 'wght' 700;
}

.font-heroheader {
    font-variation-settings: 'wdth' 125, 'wght' 600;
}

.review-drop-shadow {
  box-shadow:-14px 14px 0px #ae1d1d63;
}



