:root {
    --appFont:"bio-sans", sans-serif;

    --MainNavigationHeight:64px;
    --MainNavigationBorderColor:#B3B3B3;
    --MainNagivationTextColor:#ccc;

    --fontweight--light:300;
    --fontweight--regular:400;
    --fontweight--medium:500;
    --fontweight--bold:700;

    --colBrandRed:#E11F27;

}